<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>ONS Sager Domain Helper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="Raphael R. D. Soares" />

		<!-- favicon profissional gerado com https://realfavicongenerator.net/ -->
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
		<link rel="manifest" href="images/favicon/site.webmanifest" />
		<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#383b43" />
		<meta name="msapplication-TileColor" content="#383b43" />
		<meta name="theme-color" content="#ffffff" />

		<!-- Import Google Icon and Fonts -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link
			href="http://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
			rel="stylesheet"
		/>

		<!-- build:css css/styles.min.css -->
		<link type="text/css" rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
		<link type="text/css" rel="stylesheet" href="../node_modules/reset-css/reset.css" />
		<link type="text/css" rel="stylesheet" href="../node_modules/@cgross/angular-notify/dist/angular-notify.css" />
		<link type="text/css" rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" media="screen" href="css/main.css" />
		<!-- endbuild -->
	</head>

	<body ng-controller="DomainController as controller">
		<div id="div_loading" ng-show="showLoadingScreen">
			<div id="div_loadingImg"><img src="images/loading.svg" alt="loading image" /></div>
		</div>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">ONS SAGER Domain Helper</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				</ul>
			</div>
		</nav>

		<main role="main" class="container">
			<div class="custom-panel shadow">
				<div class="mb-3">
					<span class="badge badge-pill badge-primary p-2 mr-2 mt-2" ng-repeat="url in urls">
						<span class="pointer" ng-click="onSelectURL(url.id)">{{ url.alias }}</span>
						<i class="fas fa-times ml-2 mr-1 text-light pointer" ng-click="onDeleteURL(url.id)"></i>
					</span>
				</div>

				<form id="form_searchByURL" ng-submit="onSubmitSearch()">
					<div class="form-row">
						<div class="form-group col-md-8">
							<input
								type="url"
								name="inpTxt_mainUrl"
								id="inpTxt_mainUrl"
								class="form-control rounded-0"
								placeholder="URL do serviço. Ex: http://localhost/sager/..."
								ng-model="inpTxt_mainUrl"
							/>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary btn-block rounded-0">Buscar</button>
						</div>
						<div class="col-md-2">
							<button
								type="button"
								class="btn btn-outline-secondary btn-block rounded-0"
								data-toggle="collapse"
								data-target="#div_saveURL"
							>
								Salvar URL
							</button>
						</div>
					</div>
				</form>
				<form ng-submit="onSaveURL()">
					<div id="div_saveURL" class="form-row collapse">
						<div class="form-group col-md-5">
							<input
								type="text"
								name="inpTxt_aliasUrl"
								id="inpTxt_aliasUrl"
								class="form-control"
								placeholder="Alias da URL. Ex: Consolidação Mensal"
								ng-model="inpTxt_aliasUrl"
							/>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-outline-primary rounded-0">Salvar</button>
						</div>
					</div>
				</form>

				<div id="div_errors" class="alert alert-danger rounded-0" role="alert" ng-show="errorCode">
					<div id="div_errorCrossOrigin" ng-show="errorCode === -1">
						Para realizar requisições a uma URL no domínio local é necessário instalar e ativar a extensão
						<a
							href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi"
							target="_blank"
							rel="noopener noreferrer"
							>CORS</a
						>. Caso a mesma já esteja instalada e ativada, tente desativar e ativar novamente.
					</div>
					<div id="div_error" ng-show="errorCode === 400">A URL informada está inválida!</div>
				</div>

				<div id="div_records" ng-show="records">
					<hr class="mb-4 mt-3" />
					<div ng-show="records.length === 0"><p class="text-muted">Nenhum registro foi encontrado</p></div>
					<div ng-show="records.length > 0">
						<div class="mb-3">
							<button
								class="btn btn-outline-danger rounded-0"
								data-toggle="modal"
								data-target="#modal_confirmDeleteAll"
							>
								Excluir todos
							</button>
							<button
								id="btn_collapseAll"
								class="btn btn-light rounded-0"
								ng-click="onCollapseAllRecordData()"
							>
								{{ isCollapsed ? "Expandir" : "Recolher" }} todos
							</button>

							<div class="float-right align-bottom">
								<span class="text-muted "> {{ records.length }} registros</span>
							</div>
						</div>
						<div>
							<div class="mb-3" ng-repeat="record in records">
								<div class="row border p-2">
									<div
										class="col-md-10 pointer"
										data-toggle="collapse"
										data-target="#div_recordData{{record.id}}"
									>
										<i class="fas fa-caret-down mr-1"></i> <span> {{ record.id }} </span>
									</div>
									<div class="col-md-2 text-right">
										<i
											class="fas fa-copy pointer mr-2"
											title="Clonar registro"
											data-toggle="modal"
											data-target="#modal_clone"
											ng-click="onShowEditModal(record.id)"
										></i>
										<i
											class="fas fa-edit pointer mr-2"
											title="Editar registro"
											data-toggle="modal"
											data-target="#modal_edit"
											ng-click="onShowEditModal(record.id)"
										></i>
										<i
											class="fas fa-trash pointer"
											title="Excluir registro"
											data-toggle="modal"
											data-target="#modal_confirmDeleteById"
											ng-click="onShowDeleteModal(record.id)"
										></i>
									</div>
								</div>
								<div class="collapse div_recordData" id="div_recordData{{record.id}}">
									<div class="card card-body rounded-0">
										<pre> {{ format(record) | json }} </pre>
									</div>
								</div>

								<!-- Modal: Clone -->
								<div class="modal fade" id="modal_clone" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<form id="form_clone">
												<div class="modal-header">
													<h5 class="modal-title">Clonar</h5>
													<button
														type="button"
														class="close"
														data-dismiss="modal"
														aria-label="Close"
													>
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<p class="text-muted">
														Ao salvar será criado um novo registro com um novo id e com os
														valores informados abaixo.
													</p>
													<textarea
														name="txtArea_cloneRecord"
														id="txtArea_cloneRecord"
														class="form-control w-100 txtArea_editRecord"
														style="font-family: monospace"
														rows="12"
														ng-keydown="onTextAreaCloneKeyDownEvent($event, record.id)"
													></textarea>
												</div>
												<div class="modal-footer">
													<button
														type="button"
														class="btn btn-outline-dark"
														data-dismiss="modal"
													>
														Cancelar
													</button>
													<button
														type="button"
														class="btn btn-primary"
														data-dismiss="modal"
														ng-click="onSaveCloneRecord()"
													>
														Salvar
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- end modal -->

								<!-- Modal: Edit -->
								<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<form id="form_edit" ng-submit="onSaveEditRecord(record.id)">
												<div class="modal-header">
													<h5 class="modal-title">Editar</h5>
													<button
														type="button"
														class="close"
														data-dismiss="modal"
														aria-label="Close"
													>
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<textarea
														name="txtArea_editRecord"
														id="txtArea_editRecord"
														class="form-control w-100 txtArea_editRecord"
														style="font-family: monospace"
														rows="12"
														ng-keydown="onTextAreaEditKeyDownEvent($event, record.id)"
													></textarea>
												</div>
												<div class="modal-footer">
													<button
														type="button"
														class="btn btn-outline-dark"
														data-dismiss="modal"
													>
														Cancelar
													</button>
													<button
														type="button"
														class="btn btn-secondary"
														data-dismiss="modal"
														ng-click="onSaveEditAsNewRecord()"
													>
														Salvar como um novo
													</button>
													<button
														type="button"
														class="btn btn-primary"
														data-dismiss="modal"
														ng-click="onSaveEditRecord()"
													>
														Salvar
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- end modal -->

								<!-- Modal: Delete by id -->
								<div
									class="modal fade"
									id="modal_confirmDeleteById"
									tabindex="-1"
									role="dialog"
									aria-labelledby="mySmallModalLabel"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-sm">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Confirma exclusão ?</h5>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-label="Close"
												>
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<p>Confirma a exclusão do registro {{ recordIdToManipulate }}</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-outline-dark" data-dismiss="modal">
													Cancelar
												</button>
												<button
													type="button"
													class="btn btn-primary"
													data-dismiss="modal"
													ng-click="onDelete(recordIdToManipulate)"
												>
													Confirmar
												</button>
											</div>
										</div>
									</div>
								</div>
								<!-- end Modal -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- /. container -->

		<!-- Modal: Delete All -->
		<div
			class="modal fade"
			id="modal_confirmDeleteAll"
			tabindex="-1"
			role="dialog"
			aria-labelledby="mySmallModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirma excluir todos ?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary" ng-click="onDeleteAll()">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end Modal -->

		<!-- build:js js/main.min.js -->
		<!-- JavaScript at end of body for optimized loading -->
		<script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="../node_modules/@cgross/angular-notify/dist/angular-notify.js"></script>
		<script type="text/javascript" src="../node_modules/dexie/dist/dexie.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<!-- endbuild -->
	</body>
</html>
